/* Basic code */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* container */
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* sub-container */
.sub-container{
    width: 900px;
    height: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* input area */
.InputArea{
    width: 550px;
    height: 100%;
    border-radius: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(19, 23, 41);
}
/* main heading */
.heading1{
    padding: 0.5em 0;
    font-size: 1.2em;
    text-transform: capitalize;
}
.heading1 h1 {
    color: #f6f6f6;
}
.form{
    width: 90%;
    position: relative;
}
.label, .label11{
    padding: 10px 0;
    font-size: 1.2em;
    color: #dadada;
}
/* input area */
#label1, #label2{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 2px solid #3d4054;
    background: #1c2032;
    color: #ccc;
    font-size: 15px;
}
/* error line code */
.error, .error1{
    padding: 5px 0;
    font-size: 1em;
    color: #eb3129;
    display: none;
}
/* display button */
#display1{
    padding: 13px 40px;
    background: #212435;
    color: #eee;
    text-decoration: none;
    border-radius: 10px;
    position: relative;
    font-size: 1.1em;
    top: 25px;
    transition: 0.3s;
}
#display1:hover{
    background-color: #3b3f55;
}
/* bottom to time and day */
.bottom{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    padding: 1em;
    border-radius: 10px;
}
/* time day section */
.time, .day{
    display: flex;
}
.currectTime, .day1{
    padding: 0 10px;
}
.time p, .day p{
    font-size: 18px;
    color: #131729;
}
/* display area */
.displayArea{
    width: 300px;
    height: 100%;
    border-radius: 10px 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 3px 1px;
}
.heading h1{
    color: #131729;
    text-transform: capitalize;
    font-size: 2.1em;
    padding: 10px;
}
.answer ul{
    list-style: none;
}
.answer ul li{
    font-size: 1.4em;
    padding: 10px 0;
    color: #131729;
}
/* zip code display */
.ans{
    background-color: #eee;
    width: 100%;
    height: 70px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    color: #131729;
}
/* social icons */
.social-Icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.social-Icon ul{
    list-style: none;
    display: inline-flex;
}
.social-Icon ul li {
    padding: 10px;
}
.social-Icon ul li a{
    text-decoration: none;
    color: #131729;
}
/* error message block through javascript */
.none1{
    display: block;
}

/* responsive part */
/* screen: 940px */
@media screen and (max-width: 940px){
    .sub-container{
        justify-content: space-around;
    }
}
/* screen: 880px */
@media screen and (max-width: 880px){
    .sub-container{
        width: 90%;
        flex-direction: column;
        margin: 2em 0;
        height: auto;
    }
    .container{
        height: auto;
    }
    .InputArea{
        width: 100%;
        height: 500px;
    }
    .displayArea{
        margin: 1em 0;
        width: 100%;
        height: 350px;
        justify-content: space-evenly;
        padding: 10px;
    }
}
/* screen: 550px */
@media screen and (max-width: 550px){
    .label, .label11{
        font-size: 1em;
    }
    .heading1 h1{
        font-size: 1.5em;
    }
    .bottom{
        flex-direction: column;
    }
    .heading h1{
        font-size: 1.7em;
    }
    .ans{
        height: 60px;
        padding: 10px;
        font-size: 1.2em;
    }
    .answer ul li{
        font-size: 1.2em;
    }
}